################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL3DEngine/LOGGER_OUTPUT.txt
/OpenGL3DEngine/.vs
