################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL3DEngine/LOGGER_OUTPUT.txt
/OpenGL3DEngine/.vs/OpenGL3DEngine/v17/Browse.VC.opendb
/OpenGL3DEngine/.vs/OpenGL3DEngine/v17/Browse.VC.db
/OpenGL3DEngine/.vs/OpenGL3DEngine/v17/Browse.VC.db-wal
/OpenGL3DEngine/.vs/OpenGL3DEngine/v17/Browse.VC.db-shm
